Tetris/.vs/Tetris/v16/.suo
Tetris/.vs/Tetris/v16/Server/sqlite3/db.lock
Tetris/.vs/Tetris/v16/Server/sqlite3/storage.ide
Tetris/bin/Debug/Tetris.exe
Tetris/bin/Debug/Tetris.exe.config
Tetris/bin/Debug/Tetris.pdb
Tetris/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Tetris/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Tetris/obj/Debug/Tetris.csproj.FileListAbsolute.txt
Tetris/obj/Debug/Tetris.csproj.GenerateResource.cache
Tetris/obj/Debug/Tetris.csprojAssemblyReference.cache
Tetris/obj/Debug/Tetris.exe
Tetris/obj/Debug/Tetris.MainForm.resources
Tetris/obj/Debug/Tetris.pdb
Tetris/obj/Debug/Tetris.Properties.Resources.resourcesTetris/.vs/Tetris/v16/Server/sqlite3/storage.ide-walTetris/.vs/Tetris/v16/Server/sqlite3/storage.ide-shmTetris/obj/Debug/Tetris.Properties.Resources.resources*.resources*.ide-shm*.ide-wal